* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .display {
        height: 5vh;
        border: 1px solid white;
        text-align: right;
        
        display: flex;
        flex-direction: column;
        
        .upper-part {
            height: 2vh;
            font-size: 14px;
        }

        .lower-part {
            height: 3vh;
            font-size: 16px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
        
        div {
            display: flex;
            gap: 0.5vw;
        }
    }
}

button {
    height: 4vh;
    width: 4vw;
}