* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #EBF5EE;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .display {
        height: 5vh;
        border: 2px solid #D8BFAA;
        text-align: right;
        
        display: flex;
        flex-direction: column;
        
        .upper-part {
            height: 2vh;
            padding-top: 0.4vh;

            font-size: 14px;
        }

        .lower-part {
            height: 3vh;
            padding-right: 0.3vw;
            padding-top: 0.4vh;

            font-size: 18px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
        
        div {
            display: flex;
            gap: 0.5vw;
        }
    }
}

button {
    height: 4vh;
    width: 4vw;
    
    border: 1px solid #D8BFAA;
}

button:hover {
    border: 1.5px solid #542344;
    transition: 0.2s;
}

button:active {
    border: 5px solid #542344;
    transition: 0.2s;
}